.Food_Categories{
    border: 1vm;
    border-style: solid;
    display: block;
    float: left;
}
.Title{
    float: left;
    font-size: 2vw;
    padding:0;
    
  }
  .icon{
      font-size: 3vw;
  }

ul {
    padding-left: 0;
}​
li{
    list-style: none;
}
.menu_item{
    font-size: 1vw;
}
.price{
    float: right;
}
.title_description{
    color: aliceblue;
    line-height: 85%;
    
}